<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="justify-to-center">  
        <form>
          <p   id="questions">Do you have any questions?<p>
          <p v-if="errors.length">
          <b> Please correct the following error(s):
          </b>
          <ul>
          <li v-for="error in errors>{{error}}</li>
          </ul>
          <div class="form-row">
            <div class="col">
              <input v-model="message.subject" type="text" class="form-control smallimput" placeholder="Subject">
            </div>
            <div class="col">
              <input v-model="message.email" type="text" class="form-control smallimput" placeholder="your e-mail adress">
            </div>
            <div class="col ">
              <textarea v-model="message.message_content" id="text" name="text" rows="8" cols="45" class="form-control overflow-auto message"></textarea>
            </div>
        
          
           <div  id="button-sent"> <button v-on:click.prevent="saveMessage">SENT</button></div>
        </form>   
        
        </div>
</body>
</html>