
/* CONTACT FORM AND CHECK-OUT */


.message{
    margin-top:50px;
    width: 500px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}
@media only screen and (max-width: 542px) {
    .message{
        width:420px;
    }
}

.form-row{
    display: inline;
}

.smallimput{
    width:280px;
}

.form-control{
    margin-bottom: 20px;
}

.justify-to-center{ 
    justify-content: center;
    display: flex;
}

.contactform{
    background-color: white;
    margin-top: 50px;
    padding:10px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;  
}

#questions{
    color:#9F82C0;
    font-size:24px;
    margin-left: 15px;
    margin-top:20px;
}

#button-sent{
    justify-content: right;
    display: flex;
    margin-bottom: 15px;
    z-index:9999;
    margin-right: 35px;
}

#purcheses{
    color:#9F82C0;
    margin-left:15px;
}

#list-of-products{
    font-family: 'Quicksand', sans-serif;
    color: black;
    line-height: 10px;
    font-weight: lighter;
}

#checkout{
    
    font-size:32px;
    margin-left: 15px;
    margin-top:20px;
    justify-content: center;
    display: flex;
    color:white;
    background-color: #9F82C0;
    border-radius: 20px;
    width:420px
}

.checkout-text{
    color:black;
}

.to-center{
    justify-content: center;
    display: flex;
}

hr{
    color:#9F82C0;
    height: 2px;
    background-color: #9F82C0;
    margin-left: 10px
}

#total{
    text-align: center;
    color:#F24501
}

#required{
    background-color: #F24501;
    text-align: center;
    margin: 50px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 30px;
    color:white;
    border-color: white;
    border-width: 2px;
    box-shadow: 10px 5px 5px black;  

}
